
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
            <!-- Title -->
            <h1 class="mt-4">Aspose Mail Merge and Reporting</h1>
            <hr>
            <!-- Date/Time -->
            <p>January 1, 2018 at 12:00 PM | <label>by Rizwan Ali Sabir</label></p>
            <hr>
            <!-- Preview Image -->
            <div class="container text-center">
                <img class="img-fluid img-rounded" src="~/Content/Images/banner.jpg" alt="">
            </div>
            <hr>
            <!-- Post Content -->
            <p class="lead">Importance of newsletter</p>
            <p>The newsletter is a great marketing tool.The most important thing for any type of business is to maintain contact with valuable customers, so having a newsletter is a good thing to keep your customers up to date for upcoming or currently launched product/service/offer.</p>
            <p>Customer stays only for a moment on you website therefore it is hard to gain customer's attention before they leave, so attract new customers and entertaining the existing ones is crucial for successful marketing. Approaching the customer with strong pro-active newsletter is a worthy step.
            <p class="lead">Aspose reporting engine</p>
            <p>Aspose.Word.Reporting has some new versatile features for the mail merge functionality, it is very much advanced then that of Aspose.Words.MailMerging, following are some new features.</p>
            <ul>
                <li>Retrieve data from any .NET class</li>
                <li>Perform grouping</li>
                <li>Sorting</li>
                <li>Interpret C# expressions</li>
            </ul>
            <p class="lead">References</p>
            <p>Aspose.Word.Reporting (Mail merge and reporting): <a href="https://docs.aspose.com/display/wordsnet/LINQ+Reporting+Engine" target="_blank">LINQ reporting engine</a> <a href="https://docs.aspose.com/display/wordsnet/Mail+Merge+and+Reporting" target="_blank">Mail merge and reporting</a></p>
            <p class="lead">Get started</p>
            <p>Here you can send newsletters to all of your customers in the list</p>
            <p><b>Adding new customer</b></p>
            <p>User can <a href="/Customer/New" target="_blank">add new customers</a> to the list.</p>
            <p><b>Sending newsletter</b></p>
            <p>A <a href="/MailMerger/Template" target="_blank">newsletter template</a> has been provided,the user just has to click on send button and newsletter will be sent to customers shortly.</p>
            <br />
            <p class="lead">Future work</p>
            <ul>
                <li>user can edit and delete customers as well</li>
                <li>customized templates</li>
                <li>cancel sending newsletters</li>
                <li>better user interface</li>
            </ul>
            <a href="/MailMerger/Template" class="btn btn-primary">Send newsletters now</a>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
