
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Newsletters were sent successfully.</strong></p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/MailMerger/About" role="button">Continue to homepage</a>
    </p>
</div>

