
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Newsletter template</h2>
<a href="~/Document/Template/New Product Introduction Letter.docx" download="Template">Download Template</a>
<div class="table-bordered" style="padding:20px;">
    <p>New Product Introduction Letter</p>

    <p><u>Subject: Introducing our newest product</u></p>
    <p>Dear Mr./Ms. Receiver</p>
    <p>We are extremely pleased to present to you our newest product, the XYZ with ultimate</p>
    <p>precision. We are sure you will receive it extremely well.</p>
    <p>We look forward to receiving your feedback.</p>
    <p>Regards,</p>
    <p>Sender Name, Marketing Manager</p>
    <p>&nbsp;</p>
</div>
<br />
<a href="/MailMerger/Send" class="btn btn-primary" value="">Send this letter to all customers</a> 
<a href="/Customer/New" class="btn btn-primary" value="">Add new customer</a>


